html {
  font-family: Verdana !important;
}
  
body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
}

#breadcrumb {
  margin-top: 20px;
  margin-left: 20px;
}

#formulario {
  margin-left: 20px;
  margin-right: 20px;
}

#busqueda {
  margin-left: 10px;
}

ul .btn-toggle-nav {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 15px;
}

#form {
  margin-top: 20px;
  margin-right: 20px;
}

.card {
  display: flex;
  text-align: center;
  float: left;
  margin-top: 50px;
}

.accordion-button:not(.collapsed){
  background-color: rgb(43,48,53) !important;
  color: white !important;
}

.accordion-body a {
  color: rgb(43,48,53);
}